*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.445);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navbar-collapse .nav-link{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
.navbar-collapse .nav-link:hover{
    color: black;
    background-color: white;
}
.navbar-collapse ul{
    margin-left: auto;
}

.main{
    background: black url("https://pbs.twimg.com/media/EvoxNsfVcAAHV6O.jpg") top right no-repeat;
    color: white;
    width: 100%;
    height: 100vh;
}
.main h3{
    font-size: 4.4rem;
    font-weight: 700;
}

.main .btn{
    height: 50px;
    width: 130px;
    background-color: transparent;
    color: aqua;
    outline: none;
    border: 1px solid aqua;
    font-weight: bold;
    border-radius: 5px;
}
.main .btn:hover{
    background-color: aqua;
    color: black;
    transition: 0.3s;
}

.about{
    background: black;
}

.about img{
    min-width: 90%;
    max-height: 30rem;
    box-shadow: 8px 8px 41px -24px rgba(255, 255, 255, 0.75);
}

.about .about-container{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 2rem;
}

.about-container h1{
    color: aqua;
}

.about-container p{
    color: white;
}
.about-container .read-btn{
    background-color: transparent;
    color: aqua;
    outline: none;
    font-weight: bold;
    border: 0;
}

.item{
    position: relative;
    /* max-height: 10rem; */
}

.item img{
    width: 100%;
    max-height: 18rem;
    /* position: cover; */

}
.item:hover{
    /* box-shadow: 0px 4px 21px 14px rgba(0,0,0,0.75); */
    /* background-color: rgba(255, 255, 255, 0.658); */
    box-shadow: -18px 3px 109px -20px rgba(0,0,0,0.75);
    transition: 0.5s ;
}

.item:before{
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(236, 236, 236, 0.664);
    opacity: 0;
    position: absolute;

}

.item span{
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 40px;
    color: black;
    cursor: pointer;
    opacity: 0;
}

.item:hover span{
    transition: 0.3s;
    opacity: 1;
}

.item:hover:before{
    opacity: 1;
    transition: 0.5s;
}