@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display:ital,wght@1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.445);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'EB Garamond', serif;
}
.navbar span{
    color: aqua;
}
.navbar-collapse .nav-link{
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
.navbar-collapse .nav-link:hover{
    color: black;
    background-color: white;
}
.navbar-collapse ul{
    margin-left: auto;
}

.main{
    background: black url("https://pbs.twimg.com/media/EvoxNsfVcAAHV6O.jpg") top right no-repeat;
    color: white;
    width: 100%;
    height: 100vh;
    font-family: 'Playfair Display', serif;
}
.main h3{
    font-size: 2.5rem;
    font-weight: 700;
}
.main h2{
    font-size: 4rem;
}

.main .btn{
    height: 40px;
    width: 130px;
    background-color: transparent;
    color: aqua;
    outline: none;
    border: 1px solid aqua;
    font-weight: bold;
    border-radius: 5px;
}
.main .btn:hover{
    background-color: aqua;
    color: black;
    transition: 0.3s;
}

.about{
    background: black;
}

.about img{
    min-width: 90%;
    max-height: 30rem;
    box-shadow: 8px 8px 41px -24px rgba(255, 255, 255, 0.75);
}

.about span{
    font-size: larger;
    font-weight: 700;
}

.about .about-container{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 2rem;
}

.about-container h1{
    color: aqua;
    font-family: 'Playfair Display', serif;
}

.about-container p{
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: 1.1rem;
}
.about-container .read-btn{
    background-color: transparent;
    color: aqua;
    outline: none;
    font-weight: bold;
    border: 0;
    font-family: 'EB Garamond', serif;
}

.legacy .legacy-box{
    padding-left: 2rem;
}

.legacy h1{
    color: aqua;
    font-family: 'Playfair Display', serif;
}

.legacy .card{
    border: 0;
}

.legacy span{
    color: black;
    top: 40%;
    left: 45%;
    font-size: 40px;
}
.legacy h4{
    font-family: 'EB Garamond', serif;
}
.item{
    position: relative;
    /* max-height: 10rem; */
}

.item img{
    width: 100%;
    max-height: 18rem;
    /* position: cover; */

}
.item:hover{
    /* box-shadow: 0px 4px 21px 14px rgba(0,0,0,0.75); */
    /* background-color: rgba(255, 255, 255, 0.658); */
    box-shadow: -18px 3px 109px -20px rgba(0,0,0,0.75);
    transition: 0.5s ;
}

.item:before{
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(236, 236, 236, 0.664);
    opacity: 0;
    position: absolute;

}

.item span{
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 40px;
    color: black;
    cursor: pointer;
    opacity: 0;
}

.item:hover span{
    transition: 0.3s;
    opacity: 1;
}

.item:hover:before{
    opacity: 1;
    transition: 0.5s;
}

.modal .modal-body{
    /* background: transparent; */
    padding: 0;
}

.modal .modal-content{
    background: transparent;
    border: 0;
}

.award{
    width: 100%;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.596); */
    background-image: url("https://images.moneycontrol.com/static-mcnews/2020/07/14-dhoni.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    transition: 4s;

    animation: animate 40s ease-in infinite alternate forwards;
    animation-play-state: running;
}

@keyframes animate{
    0%{
        background-image: url("https://i.ndtvimg.com/i/2018-04/ms-dhoni-wife-pm-modi-twitter_806x605_71522727944.jpg");
    }25%{
        background-image: url("https://content.api.news/v3/images/bin/0f62e31b079de15b9b15fa0d8551c477");
    }50%{
        background-image: url("https://thefederal.com/file/2019/07/MS-Dhoni_Army.jpg");
    }75%{
        background-image: url("https://cdn.dnaindia.com/sites/default/files/styles/full/public/2020/09/05/923240-ipl-2010.jpg");
    }100%{
        background-image: url("https://images.moneycontrol.com/static-mcnews/2020/07/14-dhoni.jpg");
    }
}

.award h1{
    color: aqua;
    font-family: 'Playfair Display', serif;
}

.award .award-container{
    font-family: 'EB Garamond', serif;
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    color: white;
    font-size: large;
    animation-duration: 1s;
    animation-delay: 2s;
}

.quote{
    padding: 5rem 0;
}

.carousel-item{
    height: 20rem;
    background-color: rgb(218, 218, 218);
    color: white;
    position: relative;

}

.quote p{
    font-family: 'EB Garamond', serif;
    font-size: large;
}

.quote h5{
    font-size: large;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

.quote .carousel-caption{
    bottom: 6.25rem;
}

@media only screen and (max-width: 600px) {
    .main{
        background: black url("https://pbs.twimg.com/media/EvoxNsfVcAAHV6O.jpg") top no-repeat;
    }
    
    .legacy .legacy-box{
        padding-left: 0;
    }

    .award .award-container{
        font-size: small;
    }

}